<h1>Editing Book</h1>
<%= form_for(@book) do |f| %>
    <h4 class="editing">Title</h4>
    <%= f.text_field :title %>
    <h4 class="editing">Body</h4>
    <%= f.text_area :body %>
    <p class="editing"><%= f.submit 'Update Book' %></p>
<% end %>
<p class="editing">
	<%= link_to "show", book_path(@book) %>
	<%= "|" %>
	<%= link_to "Back", books_path(@book) %>
</p>
